<h1 class="title-font">My Project Brief</h1>

<section>
    <h2 class="subtitle-font">Company Info</h2>
    <table>
        <tr>
            <td>Company/Business Name</td>
            <td>NIGHT CONSOLES</td>
        </tr>
        <tr>
            <td>Company Description</td>
            <td>NIGHT CONSOLES IS AN E-COMMERCE WEBSITE THAT SELLS GAMING CONSOLES AND OTHER TECH PRODUCTS</td>
        </tr>
        <tr>
            <td>Group Members and Roles</td>
            <td>
                <ul>
                    <li>Front-end Developer - Ansh Paghadal</li>
                    <li>Back-end Developer - Astu Amin & Aryan Ukani</li>
                    <li>Full Stack Developer - Yogi Patel</li>
                </ul>
            </td>
        </tr>
    </table>
</section>

<section>
    <h2 class="subtitle-font">Proposal</h2>
    <h3 class="body-font">Description of the site</h3>
    <p>Night Consoles is an e-commerce website that specializes in selling gaming consoles and other tech products. Our
        aim is to provide a seamless online shopping experience for gamers and tech enthusiasts.</p>

    <h3 class="body-font">Products or services</h3>
    <p>Our primary products include a wide range of gaming consoles, accessories, and tech gadgets. We also offer
        various services such as product reviews, technical support, and community forums for our customers.</p>

    <h3 class="body-font">Industry need</h3>
    <p>Our industry thrives on innovation and the ever-growing demand for cutting-edge technology. Night Consoles aims
        to fulfill the need for high-quality gaming and tech products while staying up-to-date with the latest trends
        and advancements in the industry.</p>

    <h3 class="body-font">Roles: admin, customer, member, etc.</h3>
    <p>Our website will have different user roles, including administrators who manage the platform, customers who make
        purchases, and members who can participate in our community and access exclusive content.</p>
</section>

<style>
    body {
        background-image: url(https://img.freepik.com/free-vector/gradient-hexagonal-background_23-2148954968.jpg?size=626&ext=jpg);
    }

    .title-font,
    .subtitle-font {
        cursor: pointer;
        text-shadow: 0 0 2px #00eaff;

    }

    .title-font:hover,
    .subtitle-font:hover {
        color: #00eaff;
        transform: scale(1.05);

    }

    .title-font {
        font-size: 3rem;
        color: #f39c12;
        margin-bottom: 20px;
        border-bottom: 2px solid #f39c12;
        padding-bottom: 10px;
    }

    .subtitle-font {
        font-size: 2.5rem;
        color: #58ffb8;
        margin: 20px 0;
    }

    .body-font {
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 15px;
        opacity: 0.8;

    }

    p {
        font-family: 'IBM Plex Sans', cursive;
        font-weight: 600;
        font-size: 1rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table,
    th,
    td {
        border: 1px solid #7f8c8d;
    }

    td {
        padding: 10px 15px;
    }


    tr:hover {
        background-color: #2c3e50;
        color: #ecf0f1;
    }

    ul>li {
        list-style: none;
    }
</style>